---
layout: layout.njk
pagination:
    data: folders
    size: 1
    alias: folder
permalink: "{{ folder.path }}/"
---
<a href="/">Back to List</a>
<h2>{{ folder.date }}</h2>
<div class="progress-images">
    <div class="progress-image">
        <img src="{{ folder.wikiimageurl }}" alt="Original Wiki image">
        <p>Original</p>
    </div>
    <div class="progress-image">
        <img src="{{ folder.cdnurl }}/{{ folder.images[folder.images.length // 40] }}" alt="Start">
        <p>Progress: 10%</p>
    </div>
    <div class="progress-image">
        <img src="{{ folder.cdnurl }}/{{ folder.images[folder.images.length // 10] }}" alt="Middle">
        <p>Progress: 50%</p>
    </div>
    <div class="progress-image">
        <img src="{{ folder.cdnurl }}/{{ folder.images[folder.images.length - 1] }}" alt="Final">
        <p>Final image!</p>
    </div>
</div>